* body {
  background: #777777;
  display: flex;
  color: #160f0aec;
}

#front {
  background: url(Smiling-no-color.jpg);
}
#front #header {
  position: relative;
  text-align: center;
  padding-left: 4px;
  margin: 5%;
  overflow: hidden;
}
#front #header h1 {
  font-family: "Allerta", sans-serif;
  float: left;
  padding: 1% 5%;
  padding-bottom: 3%;
  border: 1px white solid;
  margin: auto;
  text-align: left;
  font-size: 2.6rem;
  background: #4C85C5;
  color: #fff;
}
#front #header h1:nth-of-type(1) {
  background: #F15B1C;
  border-right: none;
}
#front #header h1:nth-of-type(2) {
  background: #00000F;
  border-left: none;
  border-right: none;
}
#front #header h1:nth-of-type(3) {
  border-left: none;
}
#front #text .blurb {
  padding: 10%;
  text-align: center;
}
#front #text .blurb button {
  font-family: "Lato", sans-serif;
  display: flex;
  margin: 2% auto;
  justify-content: center;
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.12);
  border: unset;
  border-radius: 5px;
  color: white;
  padding: 5%;
  overflow: hidden;
}
#front #text .blurb button:nth-of-type(1) {
  background: #111d4a;
}
#front .title {
  padding: 20px;
  color: #111d4a;
  text-align: center;
}
#front .title h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.75rem;
}
#front .title h3 {
  font-family: "Lato", sans-serif;
}

#book {
  margin: auto;
  top: 5vh;
  justify-content: center;
  transform-style: preserve-3d;
  position: relative;
  height: 90vh;
  max-height: 700px;
  width: 400px;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  transition: transform 1s ease-in-out;
}
#book #front {
  -webkit-box-shadow: inset 2px -1px 2px 4px rgba(5, 10, 50, 0.05), inset 3px -1px 1px 1px rgba(5, 10, 50, 0.3);
  box-shadow: inset 2px -1px 2px 4px rgba(5, 10, 50, 0.05), inset 3px -1px 1px 1px rgba(5, 10, 50, 0.3), -9px 0px 40px 9px rgba(0, 0, 0, 0.62), -20px -8px 40px 9px rgba(0, 0, 0, 0.05);
}
#book #front, #book #back {
  background: url(Smiling-no-color.jpg);
  background-size: cover;
}
#book #page1, #book #page2, #book #page3, #book #page4, #book #page5, #book #page6 {
  background: #ffffff;
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.4) 0%, white 1%, white 100%);
}
#book > div {
  position: absolute;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  transform-style: preserve-3d;
  top: 0;
  left: 0;
  transform-origin: left center;
  transition: transform 0.5s ease-in-out, box-shadow 0.35s ease-in-out, display 0.8s ease-in-out;
}
#book > div {
  height: 100%;
  width: 100%;
}
#book #page6 input {
  color: #3d3d3de3;
  font-size: 1rem;
  position: relative;
  display: block;
  left: 25%;
  top: 40%;
  border: 1px;
}

.poems {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}
.poems #front {
  transform: rotateY(-180deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.12);
}
.poems #front #text {
  display: none;
}
.poems #page1 {
  transform: rotateY(-170deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.12);
}
.poems #page2 {
  transform: rotateY(-10deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.12);
}
.poems #page3 {
  transform: rotateY(-165deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.12);
}
.poems #page4 {
  transform: rotateY(-15deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.12);
}
.poems #page5 {
  transform: rotateY(-160deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.12);
}
.poems #page6 {
  transform: rotateY(-20deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.12);
}
.poems #back {
  transform: rotateY(0deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.12);
}

.moveRight {
  transform: translateX(50%);
}

.title {
  padding: 30px;
}

.haiku {
  padding-left: 30px;
}

@media (max-width: 500px) {
  body {
    margin: 0;
  }

  #book {
    width: 100vw;
    height: 100vh;
    padding: none;
    margin: none;
    top: 0;
  }

  .moveRight {
    transform: none;
  }

  .poems #front {
    transform: rotateY(-180deg);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.12);
  }
  .poems #text {
    display: none;
  }
  .poems #page1 {
    transform: rotateY(-170deg);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.12);
  }
  .poems #page2 {
    transform: rotateY(-5deg);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.12);
  }
  .poems #page3 {
    transform: rotateY(-165deg);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.12);
  }
  .poems #page4 {
    transform: rotateY(-8deg);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.12);
  }
  .poems #page5 {
    transform: rotateY(-160deg);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.12);
  }
  .poems #page6 {
    transform: rotateY(-10deg);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.12);
  }
  .poems #back {
    transform: rotateY(0deg);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.12);
  }
}

/*# sourceMappingURL=styles.css.map */
